<div class="page-header" ng-controller="UserInformationController" ng-show="isAdmin">
	<h1>Information <small>statistics</small></h1>
</div>
<!-- 
	 TODO:
	- add side menu with information about the currently selected course
  -->
<div class="row" ng-controller="UserInformationController" ng-show="isAdmin">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">Statistical information</div>
			<div class="panel-body">
				<p>This is where we'll show you the number of available courses and their completion ratio.</p>
				<hr />
				<p>Just take a look at this nice progress bar.</p>
				<p>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						60%
					</div>
				</div>				
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Management information</div>
			<div class="panel-body">
				<p>
				This section is available to you because you are currently signed in with course administration privileges.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="page-header">
	<h1>Courses <small>overview</small></h1>
</div>
<div class="row">
	<div class="col-sm-8" id="quiz-list">
		<div ng-controller="UserInformationController" ng-show="isAdmin">
			<div class="alert alert-info" role="alert">Hi <b>{{userInformation.name}}</b>! You have been recognised as a course administrator.</div>
		</div>
		<div class="list-group">
			<a ng-repeat="course in courses | orderBy : 'name'" 

				class="list-group-item"
				ng-class="{active: selectedCourseId === course.id}"
				ng-click="courseClicked(course.id)">

				<h4 class="list-group-item-heading">{{course.name}}
				<span class="label label-success pull-right" ng-show="coursePassed(course)">Passed</span></h4>
				<p class="list-group-item-text">{{course.description}}</p>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default" ng-controller="UserInformationController" ng-show="isAdmin">
			<div class="panel-heading">Administration</div>
			<div class="panel-body">
				<p>These are the actions that you, high priest of this system, may perform on a module.</p>
				<hr />
				<p>
				<div class="text-center">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#course_modal" ng-click="createCourse()">Create</button>
						<button class="btn btn-default" type="button" data-toggle="modal" data-target="#course_modal">Edit</button>
						<button class="btn btn-default" type="button" ng-click="deleteCourse()">Delete</button>
					</div>
				</div>
				</p>
			</div>
		</div>

	</div>

	<div class="modal fade" id="course_modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="page-header">
						<h1>Course editor <small>add and edit questions</small></h1>
					</div>
				</div>
				<div class="modal-body" id="course-modal">
					<p>
					<div class="input-group primary">
						<span class="input-group-addon">Course name</span>
						<input type="text" class="form-control" ng-model="modalCourse.name" />
					</div>
					</p>

					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#course-description" data-parent="#course-modal">
							<h3 class="panel-title">Description</h3>
						</div>
						<div class="panel-body collapse" id="course-description">
							<textarea class="form-control" ng-model="modalCourse.description" placeholder="Description goes here."></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button class="btn btn-lg btn-default" type="button" ng-click="discardChanges()" data-dismiss="modal">Discard</button>
						<button class="btn btn-lg btn-primary" type="button" ng-click="saveChanges()" data-dismiss="modal">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="page-header" ng-show="selectedCourseId">
	<h1>Modules <small>overview</small></h1>
</div>
<div class="row" ng-show="selectedCourseId">
	<div class="col-sm-8" id="quiz-list">
		<div class="list-group">
			<a ng-repeat="module in modules | orderBy : 'name'" 

				class="list-group-item"
				ng-class="{active: selectedModuleId === module.id}"
				ng-click="moduleClicked(module.id)">

				<h4 class="list-group-item-heading">{{module.name}}
				<span class="label label-success pull-right" ng-show="modulePassed(module)">Passed</span>
				</h4>
				<p class="list-group-item-text">{{module.description}}</p>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default" ng-show="selectedModuleId">
			<div class="panel-heading">Module information</div>
			<div class="panel-body">
				<p><b>{{getModuleName()}}</b></p>
				<hr />
				<p>{{getModuleMotivation()}}</p>
				<hr />
				<p>
				<div class="text-center">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-default" type="button" ng-click="startModal()" data-toggle="modal" data-target="#quiz_taker">Answer</button>
					</div>
				</div>
				</p>
			</div>
		</div>
		<div class="panel panel-default" ng-controller="UserInformationController" ng-show="isAdmin">
			<div class="panel-heading">Administration</div>
			<div class="panel-body">
				<p>These are the actions that you, high priest of this system, may perform on a module.</p>
				<hr />
				<p>
				<div class="text-center">
					<div class="btn-group" role="group" aria-label="...">
						<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#quiz_modal" ng-click="createModule()">Create</button>
						<button class="btn btn-default" type="button" data-toggle="modal" data-target="#quiz_modal">Edit</button>
						<button class="btn btn-default" type="button">Review</button>
						<button class="btn btn-default" type="button" ng-click="deleteModule()">Delete</button>
					</div>
				</div>
				</p>
			</div>
		</div>

	</div>

	<div class="modal fade" id="quiz_modal" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="page-header">
						<h1>Quiz editor <small>add and edit questions</small></h1>
					</div>
				</div>
				<div class="modal-body" id="quiz-modal">
					<!-- Accordion-testing som ikke ga ønsket resultat-->
					<!--
	  <div ng-controller="MyCtrl1">
		<accordion close-others="true">
		  <accordion-group is-open="true">
		<accordion-heading>
		  Lelelelelelele
		</accordion-heading>
		some content... <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
		  </accordion-group>
		  <accordtion-group heading="lelelel">
		  </accordtion-group>
		</accordion>
	  </div> -->

					<!-- TODO: få quiz-edit til å være oppe om man kollapser de andre. -->
					<!-- Name -->
					<p>
					<div class="input-group primary">
						<span class="input-group-addon">Module name</span>
						<input type="text" class="form-control" ng-model="modalVars.name" required="true" />
					</div>
					</p>

					<!-- Description panel -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#description" data-parent="#quiz-modal">
							<h3 class="panel-title">Description</h3>
						</div>
						<div class="panel-body collapse" id="description">
							<textarea class="form-control" ng-model="modalVars.description" placeholder="Description goes here."></textarea>
						</div>
					</div>

					<!-- Motivation panel -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#motivation" data-parent="#quiz-modal">
							<h3 class="panel-title">Motivation</h3>
						</div>
						<div class="panel-body collapse" id="motivation">
							<textarea class="form-control" ng-model="modalVars.motivation" placeholder="The motivation of this module..."></textarea>
						</div>
					</div>		


					<!-- Step by step -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#stepbystep" data-parent="#quiz-modal">
							<h3 class="panel-title">Step by step</h3>
						</div>
						<div class="panel-body collapse" id="stepbystep">
							<textarea class="form-control" ng-model="modalVars.stepbystep" placeholder="1. Step 1...."></textarea>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-body" id="quiz_edit">
							<div class="input-group">
								<select class="form-control input-lg" id="quiz_questions">
									<option ng-repeat="(index, question) in modalVars.questions | orderBy : 'question.id'"
									ng-click="questionClicked(index)">
									Question {{question.id}}
									</option>
								</select>
								<span class="input-group-addon">
									<button class="btn btn-sm btn-success" type="button" ng-click="addQuestion()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
									<button class="btn btn-sm btn-danger" type="button" ng-click="deleteQuestion()">
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
									</button>
								</span>
							</div>
							<hr />
							<form role="form">
								<p>
								<input type="text" class="form-control" ng-model="modalVars.questions[selectedQuestion].question"/>
								</p>
								<p>
								<div class="input-group">
									<span class="input-group-addon">
										<input type="radio" name="qr" value=0 ng-model="modalVars.questions[selectedQuestion].correct">
									</span>
									<input type="text" class="form-control" ng-model="answers[0]">
								</div>
								</p>
								<p>
								<div class="input-group">
									<span class="input-group-addon">
										<input type="radio" name="qr" value=1 ng-model="modalVars.questions[selectedQuestion].correct">
									</span>
									<input type="text" class="form-control" ng-model="answers[1]">
								</div>
								</p>
								<p>
								<div class="input-group">
									<span class="input-group-addon">
										<input type="radio" name="qr" value=2 ng-model="modalVars.questions[selectedQuestion].correct">
									</span>
									<input type="text" class="form-control" ng-model="answers[2]">
								</div>
								</p>
							</form>
						</div>
					</div>
					<!-- end of copy-paste -->
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button class="btn btn-lg btn-default" type="button" ng-click="discardChanges()" data-dismiss="modal">Discard</button>
						<button class="btn btn-lg btn-primary" type="button" ng-click="saveChanges()" data-dismiss="modal">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Quiz-taker modal (ganske lik editoren, men med noen små forskjeller -->	
	<!--TODO: fiks opp i "angular"-variablene slik at de er riktige -->
	<!--  -->
	<div class="modal fade" id="quiz_taker" role="dialog" aria-hidden="true">	
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">					
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<div class="page-header">
						<h1> {{getModuleName()}}</h1>
					</div>
				</div>
				<div class="modal-body" id="quiz_taker_body">	
					<!-- Description panel -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#mod_des" data-parent="#quiz_taker_body">
							<h3 class="panel-title">Description</h3>
						</div>
						<div class="panel-body collapse" id="mod_des">
							<p>{{getModuleDescription()}}</p>
						</div>
					</div>

					<!-- Motivation panel -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#mod_mot" data-parent="#quiz_taker_body">
							<h3 class="panel-title">Motivation</h3>
						</div>
						<div class="panel-body collapse" id="mod_mot">
							<p>{{getModuleMotivation()}}</p>	
						</div>
					</div>		


					<!-- Step by step -->
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#mod_sbs" data-parent="#quiz_taker_body">
							<h3 class="panel-title">Step by step</h3>
						</div>
						<div class="panel-body collapse" id="mod_sbs">
							<p>{{getModuleStepbystep()}}</p>
						</div>
					</div>

					<!-- Selve visningen av spørsmålene -->
					<!-- TODO: en 'du har nå fullført quizen'-melding -->
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-body">
									<form role="form" ng-show="!modalFinished">
										<h2>{{currentQuestionId+1}}/{{numQuestions}} - {{getCurrentQuestion().question}}</h2>
										<p ng-repeat="answer in getCurrentQuestion().answers">
											<input type="radio" name="quiz_taker_radio">
											<p>{{answer}}</p>
											<!-- Noen spesiell grunn til at dette ikke virker? -->
										</p>
									</form>

									<!-- En liten tekst som viser oss at vi er ferdige  -->
									<p ng-show="modalFinished">U r a faget</p>

									<div class="btn-group pull-right" role="group" aria-label="...">
										<button class="btn btn-default" ng-click="prevQuestion()"
											ng-class="{disabled: currentQuestionId === 0 || modalFinished}">Prievous</button>
										<button class="btn btn-default" ng-click="nextQuestion()"
											ng-class="{disabled: currentQuestionId > numQuestions || modalFinished}">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button class="btn btn-lg btn-default" type="button" ng-click="" data-dismiss="modal">Abort</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Angular UI Accordion 
	 .js-filen ligger i js/ mappa-->
