<!--
    ui for actually taking a quiz. 
  -->

<!-- TODO:  
  add step by step guide. I suggest a label with the text "click to show", and show the text on click (expanding...).-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Quiz title</h1>
  </div>
  <div class="panel-body">
    <div class="container">
      <h2>1. Question?</h2>
      <hr>
      <form role="form">
	<div class="radio">
	  <label>
	    <input type="radio" name="quiz_opts" id="quiz_opt1">
	    Answer?
	  </label>
	</div>
	<div class="radio">    
	<label>
	  <input type="radio" name="quiz_opts" id="quiz_opt2">
	  42 is always the answer
	</label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="quiz_opts" id="quiz_opt3">
	    
	  </label>
	</div>
      </form>

      
    </div>
  </div>
</div>
