<p>This view allows you to test the user settings.
    This is like an HTTP-based database for your Javascript.
    There are system-wide and user settings. </p>
<p>Your saved setting is: {{earlierSetting}} (click 'Refresh' below to fetch from server).</p>
<p>
    <input ng-model="userSetting.value" type="text" placeholder="Data to save" class="form-control">

</p>
<p>
    <button ng-click="saveSetting()" type="submit" class="btn btn-success">Save setting</button>
    <button ng-click="refreshSetting()" type="submit" class="btn btn-success">Refresh</button>
</p>

