<!-- 
TODO (to make it fun?):
     - Quiz-status (points, answered etc.)
     - hover for å se detaljer (og klikk)
     - skille mellom completed osv.
     - gameification? at brukeren har et level f.eks 
     - score-board-status
-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Courses</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
	<div class="container">
	  <!-- Thinking about removing the play-buttons... -->
	  <button type="button" class="btn btn-primary">&#9658;</button> The meaning of life <br> 
	  <button type="button" class="btn btn-primary">&#9658;</button> Learning DHIS2-stuff <br>
	  <button type="button" class="btn btn-primary">&#9658;</button> Learning DHIS2-visualizer <br>  
	  <button type="button" class="btn btn-primary">&#9658;</button> Learning DHIS2-API 
	</div>
      </div>
      <div class="col-md-6">
	<div class="panel panel-primary">
	  <div class="panel-body">
	    <p>Info about a selected course</p>
	    <br>
	    <h5>The meaning of life</h5>
	    <p>Motivation: To learn the meaning of life</p>
	    <p>Number of questions: 4</p>
	    <p></p>
	    <button type="button" class="btn btn-lg btn-primary">Start</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
